.
..
.Rproj.user
.Rhistory
.Rprofile
.RData
.Ruserdata
**/.DS_Store
**/.html
**/_files/
/.quarto/
/docs/


# Ignore specific files
Pages/Materials/Student Codespaces/bdsy-phm-individual
Pages/Materials/Student Codespaces/Week 3 Codespace
Pages/Materials/Student Project Materials/Malawi
Pages/Materials/Student Project Materials/Nepal
Pages/Materials/Student Project Materials/Peru